.image {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #000;
  object-fit: cover;
  user-select: none;
  cursor: default;
  text-align: center;
  -webkit-user-drag: none;
}

.userSelectAuto {
  user-select: auto;
}

.displayNone {
  display: none;
}
