@import '../../common/common.scss';

$passiveOpacity: 0.5;
$activeOpacity: 1;

.thumbnail {
  display: block;
  height: 100%;
  min-width: $scale;
  width: $scale;
  max-width: $scale;
  overflow: hidden;
  padding: 0;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  // border: 4px solid transparent;
  margin: 2px 2px 2px 5px;
  // transition: border .2s ease-in-out;
}

.currentThumbnail {
  // border: 4px solid rgba(204, 105, 0, 0.6);
  // transition: border .2s ease-in-out;
  box-shadow: 0 0 3px 2px rgba(204, 105, 0, 0.9);
  transition: box-shadow .1s ease-in-out;
}

.thumbnail:not(.currentThumbnail):hover {
  // opacity: $activeOpacity;
  box-shadow: 0 0 3px 2px rgba(204, 105, 0, 0.7);
  transition: box-shadow .1s ease-in-out;
}

/* prevent thumbnail to stay in the hover state on touch devices,
   since there is no such thing as "hover" on touch devices */
@media (hover: none) {
  .thumbnail:not(.currentThumbnail):hover {
    opacity: $passiveOpacity;
  }
}
