@import '../../common/common.scss';

$passiveOpacity: 0.5;
$activeOpacity: 1;

.thumbnail {
  display: block;
  height: 100%;
  min-width: $scale;
  width: $scale;
  max-width: $scale;
  overflow: hidden;
  margin-right: $margin;
  padding: 0;
  opacity: $passiveOpacity;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
}

.currentThumbnail {
  opacity: $activeOpacity;
}

.thumbnail:not(.currentThumbnail):hover {
  opacity: $activeOpacity;
}

/* prevent thumbnail to stay in the hover state on touch devices,
   since there is no such thing as "hover" on touch devices */
@media (hover: none) {
  .thumbnail:not(.currentThumbnail):hover {
    opacity: $passiveOpacity;
  }
}
