@import '../../common/common.scss';

.thumbnail {
  display: block;
  height: 100%;
  min-width: $scale;
  width: $scale;
  max-width: $scale;
  overflow: hidden;
  margin-right: $margin;
  padding: 0;
  opacity: 0.5;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 1;
}

.currentThumbnail {
  opacity: 1;
}

.thumbnail:not(.currentThumbnail):hover {
  opacity: 1;
}
