@import '../../common/common.scss';

.userSlide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  overflow-wrap: break-word;
  word-break: normal;
  white-space: normal;
  user-select: auto;
}

.thumbnail {
  user-select: none;
  -ms-zoom: $scale;
  zoom: $scale;
  font-size: $scale;
  text-size-adjust: none;
  pointer-events: none;
}

.thumbnail * {
  text-size-adjust: none;
}

.thumbnail > * {
  pointer-events: none;
}

/*Only for Chrome, Opera and Edge*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .thumbnail {
    font-size: 100%;
  }
}

/*Only for FireFox*/
@-moz-document url-prefix() {
  .thumbnail {
    font-size: $scale;
  }
}
