.image {
  height: 100%;
  min-width: 11.11%;
  width: 11.11%;
  max-width: 11.11%;
  opacity: 0.5;
  margin-right: 5px;
  object-fit: cover;
  user-select: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

.currentImage {
  opacity: 1;
}

.image:not(.currentImage):hover {
  opacity: 0.75;
}
