.slide {
  height: 100%;
  width: 11.11%;
  zoom: 11.11%;
  overflow: hidden;
  opacity: 0.5;
  margin-right: 5px;
  object-fit: cover;
  user-select: none;
  cursor: pointer;
  -webkit-user-drag: none;
  overflow-wrap: break-word;
  word-break: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.currentSlide {
  opacity: 1;
}

.slide:not(.currentSlide):hover {
  opacity: 0.75;
}
