.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  -ms-zoom: var(--scale);
  zoom: var(--scale);
  overflow-wrap: break-word;
  word-break: normal;
  font-size: var(--scale);
  text-size-adjust: none;
  pointer-events: none;
}

.slide * {
  text-size-adjust: none;
}

.slide > * {
  pointer-events: none;
}

/*Only for Chrome, Opera and Edge*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  .slide {
    font-size: 100%;
  }
}

/*Only for FireFox*/
@-moz-document url-prefix() {
  .slide {
    font-size: var(--scale);
  }
}
