.button {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;

  display: inline-block;
  appearance: none;
  opacity: 1;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
  user-select: none;
}

.button:hover {
  opacity: 0.75;
}

@media (hover: none) {
  .button:hover {
    opacity: 1;
  }
}

.left {
  --width: 20px;
  --height: 40px;
  width: var(--width);
  height: var(--height);
  background-size: var(--width) var(--height);
  background-image: url("data:image/svg+xml,%3Csvg height='40' preserveAspectRatio='xMidYMid meet' viewBox='0 0 20 40' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m20 0v40l-20-20z' fill='%23eee' fill-opacity='.5'/%3E%3C/svg%3E");
}

.right {
  --width: 20px;
  --height: 40px;
  width: var(--width);
  height: var(--height);
  background-size: var(--width) var(--height);
  background-image: url("data:image/svg+xml,%3Csvg height='40' preserveAspectRatio='xMidYMid meet' viewBox='0 0 20 40' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 40v-40l20 20z' fill='%23eee' fill-opacity='.5'/%3E%3C/svg%3E");
}

.play {
  --width: 30px;
  --height: 30px;
  width: var(--width);
  height: var(--height);
  background-size: var(--width) var(--height);
  background-image: url("data:image/svg+xml,%3Csvg height='30' preserveAspectRatio='xMidYMid meet' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15 22.5-15 7.5v-15-15l15 7.5 15 7.5z' fill='%23eee' fill-opacity='.5'/%3E%3C/svg%3E");
}

.pause {
  --width: 30px;
  --height: 30px;
  width: var(--width);
  height: var(--height);
  background-size: var(--width) var(--height);
  background-image: url("data:image/svg+xml,%3Csvg height='30' preserveAspectRatio='xMidYMid meet' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eee' fill-opacity='.5'%3E%3Cpath d='m0 0h10v30h-10z'/%3E%3Cpath d='m20 0h10v30h-10z'/%3E%3C/g%3E%3C/svg%3E");
}
