.imagesWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  touch-action: pan-x pinch-zoom;
}

.images {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition-duration: 0s;
  transition-property: transform;
  transition-timing-function: ease-out;
  touch-action: pinch-zoom;
}

.images:focus {
  outline: none;
}
