.carouselWrapper {
  position: relative;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  touch-action: manipulation;
  box-sizing: border-box;
}

.galleryCarousel {
  background-color: #000;
}

.slides {
  height: 100%;
  width: 100%;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  display: flex;
  outline: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition-duration: 0s;
  transition-property: transform;
  transition-timing-function: ease-out;
  box-sizing: border-box;
}

.images:focus {
  outline: none;
}
