.ribbon {
  height: calc(90% - 5px);
  width: 100%;
  list-style: none;
  white-space: normal;
  margin: 0;
  padding: 0;
  display: flex;
  outline: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transition-duration: 0s;
  transition-property: transform;
  transition-timing-function: ease-out;
  box-sizing: border-box;
}
