.slides {
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform: translateZ(0);
  transition-duration: 0s;
  transition-property: transform;
  transition-timing-function: linear;
  will-change: transform;
  backface-visibility: hidden;
  align-items: center;
}

.slides.RTL {
  flex-direction: row-reverse;
}

.hasImages {
  cursor: grab;
}

:global(.isGrabbing) > .hasImages {
  cursor: pointer;
}
