.slides {
  height: 100%;
  width: 100%;
  list-style: none;
  white-space: normal;
  margin: 0;
  padding: 0 0 4px; /* not 4.5px, for browser compatibility */
  display: flex;
  outline: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateZ(0);
  transition-duration: 0s;
  transition-property: transform;
  transition-timing-function: linear;
  box-sizing: border-box;
  will-change: transform;
  backface-visibility: hidden;
}
