.thumbnails {
  --scale: 10%;

  flex: 0 1 var(--scale);
  height: var(--scale);
  padding-top: 1px; /* not 0.5px, for browser compatibility */
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  overscroll-behavior-x: contain;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}
