.thumbnails {
  --scale: 10%;
  --margin: 5px;

  flex: 0 1 var(--scale);
  height: var(--scale);
  list-style: none;
  margin: var(--margin) 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*overflow-y: hidden;*/
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  overscroll-behavior-x: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thumbnails::-webkit-scrollbar {
  display: none;
}
