.thumbnailsContainer {
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thumbnailsContainer::-webkit-scrollbar {
  display: none;
}

.bottomCenter {
  flex: 0 1 10%;
  height: 10%;
  margin-top: 5px;
}
