.buttonWrapper {
  position: absolute;
  z-index: 1;
}

.centerLeft {
  top: calc(50% - 20px);
  left: 10px;
}

.centerRight {
  top: calc(50% - 20px);
  right: 10px;
}

.topLeft {
  left: 10px;
  top: 10px;
}
