.figure {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  border-image-width: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  border-image-width: 0;
  padding: 0;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.thumbnail.hidden {
  display: none;
}

.thumbnail::before,
.image::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #444;
}
