.figure {
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  cursor: grab;
}

.isGrabbing .image {
  cursor: grabbing;
}

.image::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #444;
  box-sizing: border-box;
}
